body {
   background-color: #F5F6FA;
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;

   display: flex;
   flex-direction: column;
   align-items: center;
}

.box {
    width: 50%;
    background-color: #FFFFFF;  
    border-top: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    border-left: 1px solid #DADADA;

    display: flex;
    align-items: center;
    padding: 15px;
}

.info {
    padding: 20px;
   
}

.avatar {  
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.trash {
    width: 15px;
    margin-left: auto;
}

h6 {
    font-size: 14px;
    margin: 0;
}

.lastBox {
    border-bottom: 1px solid #DADADA;
}

.message {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


